{% extends 'base.html' %}
{% load door_tags %}
{% block title %} Отправка счёта на оплату {% endblock %}
{% block content %}
<div align='center'>
    {% if order.door.image %}
    <img src="{{ order.door.image.url }}" style="width: 100px;">
    {% endif %}
    <h2>Информация о двери:</h2>
    {% if order.active %}
    <span class="badge bg-info text-dark">В работе</span>
    ev0NyenP0UxLkY231UKA
    {% else %}
    <span class="badge bg-success">Завершён</span>
    {% endif %}
    <p>{{ order.door.name }}</p>
    <p><i class="fas fa-comments"></i> Коментарий заказчика: {{ order.door.description }}</p>
    <p><i class="fas fa-arrows-alt-h"></i> Ширина: {{ order.door.width }} | <i
            class="fas fa-arrows-alt-v"></i>
        Высота: {{ order.door.height }} | Глубина: {{ order.door.depth }}</p>
    {% if order.door.sash %}
    <p>Количество створок: {{ order.door.sash.name }}</p>
    {% else %}
    <p>Количество створок: <span class="badge bg-danger">уточнить у заказчика</span></p>
    {% endif %}
    {% if order.door.style %}
    <p><i class="fas fa-burn"></i> Стиль двери: {{ order.door.style.name }}</p>
    {% else %}
    <p><i class="fas fa-burn"></i> Стиль двери: <span class="badge bg-danger">уточнить у заказчика</span>
    </p>
    {% endif %}
    <p><i class="fas fa-door-open"></i> Наличие стекла в двери {{ order.door.glass }}</p>
    {% if order.door.material %}
    <p>Материал двери: {{ order.door.material.name }}</p>
    {% else %}
    <p>Материал двери: <span class="badge bg-danger">уточнить у заказчика</span></p>
    {% endif %}
    {% if order.door.closer %}
    <p>Доводчик: {{ order.door.closer.name }}</p>
    {% else %}
    <p>Доводчик: <span class="badge bg-danger">уточнить у заказчика</span></p>
    {% endif %}
    <p>Количество дверей: {{ order.count_doors }}</p>
    {% if order.door.price %}
    <p>Чистая цена за 1 дверь: {{ order.door.price }} p.</p>
    {% else %}
    {% size_price order.door.pk as door_price %}
    <p>Чистая цена за 1 дверь: <span
            class="badge bg-danger">{{ door_price.summ }} p. ( сгенерировано автоматически )</span></p>
    {% endif %}
    {% if order.door.personal_margin %}
    <p>Индивидуальная наценка: {{ order.door.personal_margin }} p.</p>
    {% else %}
    <p>Индивидуальная наценка: <span class="badge bg-danger">небходимо указать</span></p>
    {% endif %}
</div>
<div align="center">
    <h2> Информация о заказчике</h2>
    <p><i class="fas fa-phone-alt"></i> Номер телефона заказчика: {{ order.user_phone }}</p>
    <p><i class="fas fa-at"></i> E-mail заказчика: {{ order.user_email }}</p>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-12" align="center">
        {% if order.user_email %}
         <button class="btn btn-primary" type="submit" name="add_order">Отправить счёт на оплату</button>
        {% else %}
        <h3>Не указана почта заказчика</h3>
        <a href="" class="btn btn-primary" name="send_check_order" methods="post">Редактировать заявку</a>
        {% endif %}
    </div>
</form>
{% endblock %}