{% extends 'base.html' %}
{% load door_tags %}
{% block content %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <h1>Конструктор</h1>
    {% if price %}
    <h1><strong>Сумма вашего расчёта состовляет {{ price }} p.</strong></h1>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags == 'warning' %}
        <div class="alert alert-danger" role="alert">
            {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {% endif %}
                {{ message }}
            </div>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        {{ form_door.as_p }}
        {{ form_order.as_p }}
        {% if request.user|has_manager %}
        <button class="btn btn-primary" type="submit" name="add_order">Добавить заявку</button>
        {% else %}
        <button class="btn btn-primary" type="submit" name="send_order">Отправить заявку</button>
        {% endif %}
        <button class="btn btn-primary" type="submit" name="calculate_order">Расчитать цену</button>

    </form>
    {{ form_door.errors }}
    {{ form_order.errors }}
</div>
{% endblock %}