{% extends 'base.html' %}
{% block content %}
<div class="d-block" align='center'>
    {% if object.door.image %}
    <img src="{{ object.door.image.url }}" style="width: 100px;">
    {% endif %}
    <p>Количество дверей: {{ object.count_doors }}</p>
    <h1>Информация о двери:</h1>
    <p>{{ object.door.name }}</p>
    <p>Коментарий заказчика: {{ object.door.description }}</p>
    <p>Ширина: {{ object.door.width }} | Высота: {{ object.door.height }} | Глубина: {{ object.door.depth }}</p>
    {% if object.door.sash %}
    <p>Количество створок: {{ object.door.sash.name }}</p>
    {% else %}
    <p>Количество створок: уточнить у заказчика</p>
    {% endif %}

    <p>Номер телефона заказчика: {{ object.user_phone }}</p>
    <p>E-mail заказчика: {{ object.user_email }}</p>
    {% if object.active == True %}
    <span class="badge bg-info text-dark">В работе</span>
    {% else %}
    <span class="badge bg-success">Завершён</span>
    {% endif %}
    <p>Дата создания заявки: {{ object.date_start }}</p>
    <a href="{% url 'edit_order_manager' object.pk %}" class="btn btn-primary">Редактировать заявку</a>
</div>
{% endblock %}